# Extensiones
*.xml
*.vscode

# Mis entornos de python
Projecte_01/venv_*/
Projecte_01/*_venv/
*_venv/

Projecte_01/scrapping/__pycache__
Projecte_01/scrapping/config.py


# Configuraciones
desktop.ini
.directory

# Archivos especificos


# Directorios especificos

## Base de datos
Projecte_01/mongo_data/
