# Extensiones
*.xml
*.vscode

# Mis entornos de python
Projecte_01/venv_*/
Projecte_01/*_venv/


# Configuraciones
desktop.ini
.directory

# Archivos especificos


# Directorios especificos

## Base de datos
Projecte_01/MongoDB/mongo_data