# Extensiones
*.xml
*.vscode

# Mis entornos de python
venv_*/
*_venv/

# Base de datos
./MongoDB/mongo_data/

# Configuraciones
desktop.ini
.directory

# Archivos especificos


# Directorios especificos
Other/keys
